|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In [49]:
# 2.
 #In the context of this problem, what is a false positive?
 
   #A False positive you predict a dog but get a cat.
   
 #In the context of this problem, what is a false negative?
 #predict a cat and get a dog 
 #How would you describe this model?
 #TP: Predict a dog and get a dog.
tp=46
   #tN: Predict a cat and get a cat. 
tn=34
  #FP: Predict a dog and get a cat.
fp=13
  #FN: Predict cat and get a doc
fn=7

# 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

- Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

- Use the predictions dataset and pandas to help answer the following questions:

3a. An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
 * Accuracy
 * Recall

3b. Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- Precision
- Recall

In [50]:
import pandas as pd
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [51]:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [52]:
subset = df[df.actual == "Defect"]
df['baseline_prediction'] = "Defect"

In [57]:
model1_recall= (subset.actual==subset.model1).mean()*100
model2_recall= (subset.actual==subset.model2).mean()*100
model3_recall= (subset.actual==subset.model3).mean()*100
model1_recall, model2_recall,model3_recall

(50.0, 56.25, 81.25)

In [61]:
subset = df[df.model1 == 'Defect']
model1_precision = (subset.actual == subset.model1).mean()*100

subset2= df[df.model2 == 'Defect']
model2_precision = (subset2.actual == subset2.model2).mean()*100

subset3=df[df.model3 == 'Defect']

model3_precision = (subset3.actual == subset3.model3).mean()*100

model1_precision,model2_precision,model3_precision

(80.0, 10.0, 13.131313131313133)

# 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

- At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

- Several models have already been developed with the data, and you can find their results here.

- Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

4a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

4b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?

4c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [62]:
df = pd.read_csv('gives_you_paws.csv')
df=pd.DataFrame(df)
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [63]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [64]:
df['baseline_prediction'] = "dog"
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [68]:

(df.actual == df.model1).mean()*100, (df.actual == df.model2).mean()*100, (df.actual == df.model3).mean()*100, (df.actual == df.model4).mean()*100

(80.74, 63.04, 50.96000000000001, 74.26)

In [67]:
(df.actual == df.baseline_prediction).mean()*100

65.08

In [10]:
model_accuracy = (df.actual == df.model1).mean()*100
baseline_accuracy = (df.actual == df.baseline_prediction).mean()*100
metric_df = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'baseline': baseline_accuracy,
     'model1': model_accuracy,}])
metric_df.head()

     metric  baseline  model1
0  accuracy     65.08   80.74

In [11]:
model_accuracy = (df.actual == df.model2).mean()*100
baseline_accuracy = (df.actual == df.baseline_prediction).mean()*100
dict2 = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'model2': model_accuracy,
    'baseline': baseline_accuracy}])
dict2.head()

     metric  model2  baseline
0  accuracy   63.04     65.08

In [12]:
paws_metric=pd.concat([metric_df,dict2],ignore_index=True)
paws_metric.fillna(0)

     metric  baseline  model1  model2
0  accuracy     65.08   80.74    0.00
1  accuracy     65.08    0.00   63.04

In [13]:
model_accuracy = (df.actual == df.model3).mean()*100
baseline_accuracy = (df.actual == df.baseline_prediction).mean()*100
dict3 = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'model3': model_accuracy,
    'baseline': baseline_accuracy}])
dict3.head()

     metric  model3  baseline
0  accuracy   50.96     65.08

In [14]:
paws_metric=pd.concat([paws_metric,dict3],ignore_index=True)
paws_metric=paws_metric.fillna(0)
paws_metric

     metric  baseline  model1  model2  model3
0  accuracy     65.08   80.74    0.00    0.00
1  accuracy     65.08    0.00   63.04    0.00
2  accuracy     65.08    0.00    0.00   50.96

In [69]:
model_accuracy = (df.actual == df.model4).mean()*100
baseline_accuracy = (df.actual == df.baseline_prediction).mean()*100
dict4 = pd.DataFrame(data = [
    {'metric': 'accuracy',
    'model4': model_accuracy,
    'baseline': baseline_accuracy}])
dict4.head()

     metric  model4  baseline
0  accuracy   74.26     65.08

In [72]:
paws_metric=pd.concat([paws_metric,dict4],ignore_index=True)
paws_metric=paws_metric.fillna(0)
paws_metric

     metric  baseline  model1  model2  model3  model4
0  accuracy     65.08   80.74    0.00    0.00    0.00
1  accuracy     65.08    0.00   63.04    0.00    0.00
2  accuracy     65.08    0.00    0.00   50.96    0.00
3  accuracy     65.08    0.00    0.00    0.00   74.26
4  accuracy     65.08    0.00    0.00    0.00   74.26
5  accuracy     65.08    0.00    0.00    0.00   74.26

In [79]:
subset=df[df.actual=='dog']
subset

     actual model1 model2 model3 model4 baseline_prediction
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
5       dog    dog    dog    dog    dog                 dog
8       dog    dog    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4993    dog    dog    cat    dog    dog                 dog
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[3254 rows x 6 columns]

In [83]:
subset = df[df.model1 == 'dog']
model1_precision = (subset.actual == subset.model1).mean()*100

subset2= df[df.model2 == 'dog']
model2_precision = (subset2.actual == subset2.model2).mean()*100

subset3=df[df.model3 == 'dog']

model3_precision = (subset3.actual == subset3.model3).mean()*100

subset4=df[df.model4 == 'dog']
model4_precision = (subset4.actual == subset4.model4).mean()*100

model1_precision,model2_precision,model3_precision, model4_precision

(89.00238338440586, 89.31767337807607, 65.98883572567783, 73.12485304490947)

In [84]:
subset1 = df[df.model1 == 'dog']
subset2 = df[df.model2 == 'dog']
subset3 = df[df.model3 == 'dog']
subset4 = df[df.model4 == 'dog']

 4a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
- Model 1 is better than the baseline, model 4

4b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
 - I would recommend model 4 on recall
 
4c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?
 - I would recommend model 3

# 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

In [86]:
y_actual=df.actual
y_pred1=df.model1
y_pred2=df.model2
y_pred3=df.model3
y_pred4=df.model4

In [89]:
recall_score(y_actual, y_pred,
                labels=[ "dog"],
                average = 'macro')*100, recall_score(y_actual, y_pred,
                labels=[ "dog"],
                average = 'micro')*100, recall_score(y_actual, y_pred,
                labels=[ "dog"],
                average = 'weighted')*100

(80.3318992009834, 80.3318992009834, 80.3318992009834)

In [91]:
recall_score(y_actual, y_pred2,
                labels=["dog"],
                average = 'macro')*100, recall_score(y_actual, y_pred2,
                labels=["dog"],
                average = 'micro')*100, recall_score(y_actual, y_pred2,
                labels=["dog"],
                average = 'weighted')*100

(49.0780577750461, 49.0780577750461, 49.0780577750461)

In [92]:
recall_score(y_actual, y_pred3,
                labels=["dog"],
                average = 'macro')*100, recall_score(y_actual, y_pred3,
                labels=["dog"],
                average = 'micro')*100, recall_score(y_actual, y_pred3,
                labels=["dog"],
                average = 'weighted')*100

(50.86047940995697, 50.86047940995697, 50.86047940995697)

In [40]:
accuracy_score(y_actual,y_pred1)*100, accuracy_score(y_actual,y_pred2)*100,accuracy_score(y_actual,y_pred3)*100

(80.74, 63.04, 50.96000000000001)

In [88]:
precision_score(y_actual, y_pred1,
                labels=["cat"],
                average = 'macro')*100, recall_score(y_actual, y_pred1,
                labels=["cat"],
                average = 'micro')*100, recall_score(y_actual, y_pred1,
                labels=["cat"],
                average = 'weighted')*100

(68.97721764420747, 81.50057273768614, 81.50057273768614)

In [45]:
precision_score(y_actual, y_pred2,
                labels=["cat", ],
                average = 'macro')*100, recall_score(y_actual, y_pred2,
                labels=["cat", "dog"],
                average = 'micro')*100, recall_score(y_actual, y_pred2,
                labels=["cat", "dog"],
                average = 'weighted')*100

(68.86493880609905, 63.04, 63.04)

In [85]:
precision_score(y_actual, y_pred3,
                labels=["cat"],
                average = 'macro')*100, recall_score(y_actual, y_pred3,
                labels=["cat"],
                average = 'micro')*100, recall_score(y_actual, y_pred3,
                labels=["cat"],
                average = 'weighted')*100

(35.8346709470305, 51.14547537227949, 51.14547537227949)

In [94]:
precision_score(y_actual, y_pred4,
                labels=["cat"],
                average = 'macro')*100, recall_score(y_actual, y_pred4,
                labels=["cat"],
                average = 'micro')*100, recall_score(y_actual, y_pred4,
                labels=["cat"],
                average = 'weighted')*100

(80.72289156626506, 34.5360824742268, 34.5360824742268)